body
{
    margin: 1px 0px 0px 0px;
    font-family: 'Raleway', serif;
}
#bloc_page
{
    max-width: 1440px;
    min-width: 320px;
    margin: auto;
}

header
{
    margin-left: 1.5%;
    margin-bottom: 30px;
    position: relative;
}
header #logo
{
    position: absolute;
    top: 30px;
}

#bloc_nofooter
{
    margin-left: 35px;
    margin-right: 35px;
}

#top_link
{
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
nav
{
    height: 50px;
    display: flex;
    align-items: stretch;
}
nav ul
{
    margin: 0px;
    list-style-type: none;
    display: flex;
    align-self: stretch;

}
nav li
{
    height: 50px;
    margin-right: 0px;
    display:flex;
    align-self: flex-end;
}
    
nav a
{
    padding-left: 40px;
    padding-right: 40px;
    color: black;
    text-decoration: none;
    display: flex;
    align-items: flex-end;
}

nav a:hover
{
    color: #0065FC;
    border-top: 3px solid #0065FC;
}
    
#inscription a
{
    font-weight: bold;
    color: #0065FC;
    margin-left: 10px;
    text-decoration: none;
    margin-right: 50px;
}
#slogan
{
    margin-top:50px;
    margin-bottom: 10px;
    line-height: 1.7em;
}
#slogan h1
{
    margin:0;
    font-weight: bold;
    font-size: 1.4em;
}

#search
{
    display: flex;
    align-items: stretch;
    height: 50px;
}

#map_icon
{
    background-color:#F2F2F2;
    border-radius: 15px 0px 0px 15px; 
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#search_city
{
    font-size: 1.1em;
    font-weight: bold ;
    resize: none;
    display: flex;
    align-self: center;
    justify-content: center;
    height: 90%;
    padding-left: 10px;
    outline: none;
    border: 1px solid #F2F2F2;
}
.blue_button
{
    font-size: 1.2em;
    text-align: center;
    text-decoration: none;
    background-color: #0065FC;
    color: white;
    border-radius: 0px 15px 15px 0px; 
    width: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.search_icon
{
    display: none;
}

#filters
{
    margin-top: 25px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
#filters h2
{
    font-size: 1.1em;
    display: flex;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 10px;
}
#filter_choice
{
    display: flex;
    flex-wrap: wrap;
}
.filter
{
    border: 2px solid #DEEBFF; 
    margin-left: 20px;
    margin-bottom: 6px;
    margin-top: 6px;
    height: 45px;
    border-radius: 25px 25px 25px 25px;
    display: flex;
    align-items: stretch;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.filter i
{
    width: 45px;
    font-size: 1.4em;
    border-radius: 50%;
    background-color:#DEEBFF;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0065FC;
}
.filter span
{
    margin-left: 15px;
    margin-right: 20px;
    font-size: 1.1em;
    display:flex;
    align-items: center;
    flex-wrap: nowrap;
}
.filter:hover > i 
{
    color:white;
    background-color: #0065FC;
}
.filter:hover 
{
    color:white;
    background-color: #0065FC;
}

#info_sentence
{
    margin-top: 35px;
    display: flex;
    align-items: center;
}
#info_sentence i
{
    color: #0065FC;
    background-color:#F2F2F2;
    border : 1px solid #F2F2F2;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

#corps
{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    flex-basis: max-content;
    justify-content: center;
}

#hebergement
{
    order: 2;
    width: 64%;
    min-width: 320px;
    margin-right: 1.5%;
    margin-left: 1.5%;
    margin-bottom: 20px;
    flex: 2 1 60%;
    display: flex;
    background-color:#F2F2F2;
    border-radius: 20px 20px 20px 20px;
    position: relative;
}

#hebergement h2
{
    position: absolute;
    font-size: 1.4em;
    margin-top: 25px;
    margin-left: 45px;
}

#hebergement span
{
    position: absolute;
    font-size: 1.1em;
    bottom: 35px;
    margin-left: 45px;
}

#hebergements_cards
{
    margin-top: 80px;
    margin-right: 4%;
    margin-left: 4%;
    margin-bottom: 70px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

.hebergement_card
{
    width: 90%;

    margin-right: 1.7%;
    margin-left: 1.7%;
    min-width: 200px; 
    flex: 2 1 25%;
    height: 140px;
    height: 200px;
    margin-bottom: 3%;
    background-color: white;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 3px 3px 3px 3px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    color: black;
    text-decoration: none;
    transition: width 0.2s, height 0.2s;
}
.hebergement_card:hover
{
    -webkit-transform: scale(1.1); 
    -ms-transform: scale(1.1); 
    transform: scale(1.1);
    box-shadow: 0px 0px 25px black;
}
.hebergement_card img
{
    object-fit: cover;
    width: 95%;
    height: 55%;
    margin-top: 5px;
    border-radius: 20px 20px 0px 0px;
    align-self: center;
}

.hebergement_card p
{
    margin: 5px 0px 0px 10px;
    font-size: 1em;
}
.notation .full
{
    color: #0065FC;
    font-size: 0.8em;
}
.notation .empty
{
    color: #F2F2F2;
    font-size: 0.8em;
}

#popular
{
    order: 1;
    width: 30%;
    min-width: 300px;
    flex: 1 2 30%;
    margin-right: 1.5%;
    margin-left: 1.5%;
    margin-bottom: 20px;
    border-radius: 20px 20px 20px 20px;
    background-color: #F2F2F2;
    position: relative;
}
#popular h2
{
    position: absolute;
    margin-top: 25px;
    margin-left: 4%;
    margin-bottom: 30px;
    font-size: 1.4em;
}
#popular .chart
{
    position: absolute;
    font-size: 1.4em;
    margin-top: 25px;
    margin-left: 90%;
    font-size: 1.2em;
}
#hebergement .hebergement_card .notation
{
    margin-left: 10px;
    margin-top: 5px;
    letter-spacing: -1.5px;
    font-size: 0.9em;
}

#populars_cards
{
    margin-top: 80px;
    height:80%;
    margin-left: 0%; 
    margin-right: 0%;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    flex-basis: max-content;
}
#popular .popular_card
{
    width: 85%;

    min-width: 255px;
    flex: 2 1 25%;
    height: 140px;
    margin-right: 4%;
    margin-left: 4%;

    margin-bottom:7%;
    background-color: white;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 3px 3px 3px 3px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    align-content: flex-start; 
    flex-wrap: wrap;
    color: black;
    text-decoration: none;
    position: relative;
    transition: width 0.2s, height 0.2s;
}
   
#popular .popular_card img
{
    object-fit: cover;
    width: 40%;
    height: 130px;
    margin-left: 5px;
    margin-top: 5px;
    border-radius: 20px 0px 0px 20px;
    align-self: center;
}

#popular .popular_card p
{
    font-size: 1em;
    margin-left: 12px;
    margin-bottom: 0px;
    margin-top: 10px;
    width: 50%;
}
#popular .popular_card .notation
{
    bottom: 6%;
    left: 42%;
    margin-left: 10px;
    margin-top: 5px;
    letter-spacing: -1.5px;
    font-size: 0.85em;
    position: absolute;
}

#popular .popular_card:hover
{
    -webkit-transform: scale(1.1); 
    -ms-transform: scale(1.1); 
    transform: scale(1.1);
    box-shadow: 0px 0px 25px black;
}

#activity
{
    order: 3;
    margin-top: 30px;
    position: relative;
    width: 95%;
}
#activity h2
{
    position: absolute;
    font-size: 1.4em;
    margin: 0;
    left: 5px;
}
#activty_cards
{
    margin-top: 50px;
    display: grid;
    grid-template-columns: 23% 23% 23% 23%;
    column-gap: 2.7%;
    grid-template-rows: 175px 50px 175px;
    row-gap: 25px;
    grid-template-areas:
        "zone1 zone2 zone4 zone5"
        "zone1 zone2 zone4 zone6"
        "zone1 zone3 zone4 zone6";
}

.activty_card
{
    text-decoration: none;
    color: black;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 3px 3px 3px 3px rgba(0,0,0,0.1);
    transition: width 0.2s, height 0.2s;
    display: flex;
    flex-direction: column;
}
.activty_card:hover
{
    -webkit-transform: scale(1.1); 
    -ms-transform: scale(1.1); 
    transform: scale(1.1);
    box-shadow: 0px 0px 25px black;
}
#activty_cards #element1
{
    grid-area: zone1;
}
#activty_cards #element2
{
    grid-area: zone2;
}
#activty_cards #element3
{
    grid-area: zone3;
}
#activty_cards #element4
{
    grid-area: zone4;
}
#activty_cards #element5
{
    grid-area: zone5;
}
#activty_cards #element6
{
    grid-area: zone6;
}
.activty_card .grande
{
    object-fit: cover;
    width: 100%;
    height: 89%;
    border-radius: 20px 20px 0px 0px;
}
.activty_card .moyenne
{
    object-fit: cover;
    width: 100%;
    height: 80%;
    border-radius: 20px 20px 0px 0px;
}
.activty_card .petite
{
    object-fit: cover;
    width: 100%;
    height: 71%;
    border-radius: 20px 20px 0px 0px;
}
.activty_card p
{
    height: 45px;
    font-size: 1em;
    margin: 0px;
    display: flex;
    align-items: center;
    padding-left: 12px;
}

footer
{
    background-color:#F2F2F2;
    margin-top: 60px;
    padding-top: 30px;
    padding-bottom: 35px;
}
#text_footer
{
    margin-left: 65px;
    margin-right: 65px;
    display:flex;
}
#text_footer p
{
    font-size: 1.1em;
}
#text_footer ul
{
    list-style-type: none;
    line-height: 170%;
    padding: 0;
}
#text_footer a
{
    text-decoration: none;
    color: black;
}

#text_footer #about
{
    margin-right: 15%;
}

#text_footer #hebergements_footer
{
    margin-right: 20%;
}
#text_footer #assistance
{
    margin-right: 15px;
}

@media screen and (max-width: 818px)
{
    #activty_cards
    {
        grid-template-columns: 48% 48%;
        column-gap: 4%;
        grid-template-rows: repeat(4, 200px);
        row-gap: 50px;
        grid-template-areas:
        "zone1 zone2"
        "zone1 zone3"
        "zone4 zone5"
        "zone4 zone6";
    } 

    #text_footer
    {
        flex-wrap: wrap;
        justify-content: space-between;
    }
    #text_footer #about, #text_footer #hebergements_footer
    {
        margin-right: 18px;
    }
    #text_footer #assistance
    {
        margin-right: 0;
    }
}

@media screen and (max-width: 679px)
{
    body
    {
        font-size: 0.9em;
    }
    #bloc_nofooter
    {
        margin-left: 0;
        margin-right: 0;
    }
    #bloc_page
    {
        margin: 0;
    }
    header
    {
        margin: 0;
        width: 100%;
        position: relative;
        font-size: 1.1em;
    }
    header #logo
    {
        position: absolute;
        top: 15px; 
        margin-left: 20px;
    }    
    #bloc_nofooter
    {
        margin: 0px;
    }
    #top_link
    {
        height: 110px;
        justify-content: flex-start;
        flex-direction: row-reverse;
        flex-wrap: wrap-reverse;
    }
    nav
    {
        width: 100%;
    }
    nav ul
    {
        width: 100%;
        height: 50px;
        padding: 0;
        justify-content: center;
    }
    nav li
    {
        width: 50%;
        margin: 0px;
    }
    nav a
    {
        width: 100%;
        height: 100%;
        font-size: 1.1em;
        justify-content: center;
        padding-bottom: 10px;
        border-bottom: 3px solid #F2F2F2;
    }
    nav a:hover
    {
        border-top: 0px;
        border-bottom: 3px solid #0065FC;
    }
    #inscription
    {
        margin-right: 5%;
        margin-top: 30px;
        margin-bottom: 10px;
    }
    #inscription a
    {
        height: 50px;
        font-size: 1.1em;
        margin-right: 8%;
    }
    #slogan
    {
        margin-top: 40px;
        margin-left: 15px;
        margin-right: 15px;
    }
    #slogan span 
    {
        line-height: 3.5em;
    }
    #search
    {
        margin-left: 15px;
        position: relative;
    }
    #search #map_icon, #search #search_city
    {
        font-size: 1.2em;
    }
    #search_city
    {
        width: 68%;
        max-width: 260px;
    }   
    .blue_button
    {
        display: none;
    }
    .search_icon
    {
        position: relative;
        height: 99%;
        left: -10px;
        font-size: 1.2em;
        text-align: center;
        text-decoration: none;
        background-color: #0065FC;
        color: white;
        border-radius: 15px 15px 15px 15px; 
        width: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #filters
    {
        margin-left: 15px;
        margin-right: 15px;
        flex-direction: column;
        align-items: flex-start;
    }
    #filters h2
    {
        margin-bottom: 10px;
    }
    #info_sentence
    {
        margin-left: 15px;
        margin-right: 15px;
        margin-bottom: 20px;
    }
    #popular
    {
        width: 100%;
        margin: 0px;
        border-radius: 0px;
        font-size: 1.1em;
    }
    #popular .chart
    {
        font-size: 1.4em;
    }
    #hebergement
    {
        font-size: 1.1em;
        width: 100%;
        margin-right: 0;
        margin-left: 0;
        border-radius: 0px;
        background-color: white;
    }
    #hebergement span 
    {
        bottom: 25px;
        margin-left: 15px;
        font-size: 1.1em;
    }
    #corps h2
    {
        margin-left: 15px;
        font-size: 1.4em;
        margin-left: 15px;
        left:0;
    }
    #activity
    {
        width: 100%;
        font-size: 1.1em;
    }
    #activty_cards
    {
        margin-top: 60px;
        margin-left: 15px;
        grid-template-columns: 95%;
        grid-template-rows: repeat(6, 190px);
        row-gap: 20px;
        grid-template-areas:
        "zone1"
        "zone2"
        "zone3"
        "zone4"
        "zone5"
        "zone6";
    }
    .activty_card .petite
    {
        height:75%;
    }
    .activty_card .grande
    {
        height:75%;
    }
    .activty_card .moyenne
    {
        height:75%;
    }
    #text_footer ul
    {
        line-height: 2em;
    }
    #text_footer
    {
        margin-left: 15px;
        margin-right: 0px;
        font-size: 1.15em;
    }
    #text_footer #about, #text_footer #hebergements_footer, #text_footer #assistance
    {
        margin-right: 5%;
    }
}

@media screen and (max-width: 499px)
{
    #text_footer
    {
        flex-direction: column;
    }
}